dl
  color: #444
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  font-size: 15px
  line-height: 1.7

  dt
    font-weight: bold
    text-transform: uppercase
    margin: 0
    padding: 0

  dd, ul, li
    margin: 0
    padding: 0
    list-style: none

  a
    color: #4183C4
    text-decoration: none

    &.active
      font-weight: 600

    &:hover
      text-decoration: underline
